html, body {
  margin: 10px;
  padding: 0;
  background-color: #BBFFEE;
}
canvas {
  display: block;
}
button {
  padding: 2px;
  margin: 10px;
  font-size: 40px;
  /* vertical-align: middle; WHY */
}
